@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 0;
}

body {
  background: #0f0f0f;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 150px 1fr;
}
.grid-row {
  border: 1 px solid white;
  border-radius: 5px;
}
.grid-row-lg {
  grid-column-start: span 3;
  border: 1 px solid white;
  border-radius: 5px;
  height: fit-content;
}
.bar {
  background: #264653;
  color: white;

  width: 20em;
  height: 2em;
  margin: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.darker {
  color: #264653;
}

.float {
  display: flex;
  gap: 10px;
}

.bar label {
  z-index: 10;
}

.bar .bar-inner {
  z-index: 5;

  height: 100%;

  background: #2a9d8f;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  transition: width 0.2s;
}

.bar,
.bar-inner {
  border-radius: 4px;
}

.process-name {
  font-weight: 600;
}

tbody tr:nth-child(odd) {
  background-color: #1e2526;
}

tbody tr:nth-child(even) {
  background-color: #111617;
}

.coruvis {
  font-weight: 600;
  background-color: #2a9d8f !important;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #264653;
}

thead {
  background-color: #264653;
  text-align: left;
}

th,
td {
  padding: 10px;
}
